.carousel-control.right,
.carousel-control.left {
    background-image: none;
}

.carousel-inner img,
.well img {
    margin: 0 auto;
}

.break {
    display: block;
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.05);
}

.modal {
    text-align: center;
    padding: 0!important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.filter_row {
    margin-bottom: 2%;
}

.map {
    padding-bottom: 5%;
}

.cart {
    position: absolute;
}

.cart .quant {
    position: relative;
    top: -162px;
    left: 4px;
}

.cart .remove {
    position: relative;
    top: -24px;
    left: 4px;
}