<!DOCTYPE html>
<html ng-app="Shop">

<head>
    <meta charset=utf-8 />
    <title>Catalogo</title>
    <link rel="stylesheet" href="style/bootstrap.min.css">
    <link rel="stylesheet" href="style/style.css">
    <script src="js/jquery-2.2.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/controller.js"></script>
</head>

<body ng-controller="catalogController">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="index.html">Libreria</a>
                        </div>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li><a href="qs.html">Quienes somos</a></li>
                                <li><a href="#">Link 3</a></li>
                                <li><a href="#">Link 4</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="page-header">
                    <h1>Catalogo</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12" ng-repeat="book in books">
                    <div class="well">
                        <div class="row">
                            <h4 class="text-center">{{book.title}}</h4>
                        </div>
                        <div class="row">
                            <p class="text-center">
                                <a data-toggle="modal" data-target="#cover"><img src="{{book.cover}}" class="img-responsive grow"></a>
                            </p>
                        </div>
                        <div class="row">
                            <p class="text-center">{{book.price}}</p>
                        </div>
                        <div class="row">
                            <p class="text-center"><a class="btn btn-primary" href="#" role="button">Agregar a carrito</a></p>
                        </div>
                    </div>
                </div>
                <div class="clearfix" ng-if="$index%3==2"></div>
                <div ng-repeat-end=""></div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="cover">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{{book.title}}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4"><img src="images/pf.png" class="img-responsive grow"></div>
                        <div class="col-xs-8 col-sm-8 col-md-8">
                            <p>Autor: {{book.author}}
                                <br> Idioma: {{book.language}}
                                <br> Editorial: {{book.publisher}}
                                <br> Precio: {{book.price}}
                                <br> Publicado: {{book.published}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Agregar a carrito</button>
                </div>
            </div>
        </div>
    </div>

</body>

</html>