<!DOCTYPE html>
<html ng-app="Shop">

<head>
    <meta charset=utf-8 />
    <title>Catalogo</title>
    <link rel="stylesheet" href="style/bootstrap.min.css">
    <link rel="stylesheet" href="style/style.css">
    <script src="js/jquery-2.2.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/controller.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="index.html">Brand</a>
                        </div>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li><a href="qs.html">Quienes somos</a></li>
                                <li><a href="#">Link 3</a></li>
                                <li><a href="#">Link 4</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="page-header">
                    <h1>Catalogo</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="container">
            <div class="row" ng-controller="catalogController">
                <div class="col-md-4 col-sm-4 col-xs-12" ng-repeat="book in books">
                    <div class="well">
                        <div class="row">
                            <p class="text-center">{{book.title}}</p>
                        </div>
                        <div class="row">
                            <p class="text-center"><img src="{{book.cover}}" class="img-responsive grow"></p>
                        </div>
                        <div class="row">
                            <p class="text-center">{{book.price}}</p>
                        </div>
                        <div class="row">
                            <p class="text-center"><a class="btn btn-primary" href="#" role="button">Agregar a carrito</a></p>
                        </div>
                    </div>
                </div>
                <div class="clearfix" ng-if="$index%3==2"></div>
                <div ng-repeat-end=""></div>
            </div>
        </div>
    </div>
</body>

</html>